.section {
    margin-top: 20px;
  }
  
  .section-title {
    font-family: 'outfit-bold', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .item {
    font-family: 'outfit-regular', sans-serif;
    font-size: 18px;
    margin: 4px 0;
  }
  
  .date {
    font-family: 'outfit-regular', sans-serif;
    font-size: 15px;
  }
  
  .dot-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 0;
  }
  
  .dot-list li {
    font-family: 'outfit-regular', sans-serif;
    margin: -10px 0 10px 0;
    font-size: 16px;
    line-height: 1.5;
  }
  